* {
  padding: 0;
  margin: 0;
}

@font-face {
	font-display: swap; 
    font-family: "StarseedPro";
    src: url('fonts/StarseedPro.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-smooth: none;
}

body {
  font-family: "StarseedPro";
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}



.game-wrapper canvas {
  font-family: "StarseedPro", serif;
  font-size: 12px;
  line-height: 20px;
  color: white;
  display: block;
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}